<!DOCTYPE html>
<html lang="en">
<head>
  <title>POS System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>POS System</h1>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
